build/.build/
build/binary/
build/cache/
build/chroot/
build/local/
build/*.contents
build/*.files
build/*.hybrid.iso
build/*.img
build/*.iso
build/*.list
build/*.packages
build/.stage/
*~
*.swp
.DS_Store
Thumbs.db

